/* TODO Add site wide styles */


::-webkit-scrollbar {
  width: 5.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #858585;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 108, 143);
}

body {
  background: rgb(212, 212, 218);
  font-family: Arial, Helvetica, sans-serif;
  width: 1957px;
  height: 900px;
  overflow: hidden;
}

html {
  overflow-x: auto;
  overflow-y: auto;
}