.comment-delete-button.recipe {
    position: absolute;
    left: 899px;
    top: 16px;
    font-size: 30px;
    padding: 4px 15px;
    height: 40px;
}

.ingredient-icon-box-recipe>img.recipe-ing-icon {
    width: 30px;
    position: relative;
    left: -10px;
}

.ingredient-icon-box-recipe {
    margin: 0 5px 5px 0;
    padding: 2px 3px;
    height: 20px;
    width: 60px;
    text-align: center;
    margin-bottom: 10px;
}


.ing-box {
    width: 272px;
    height: 310px;
    border-radius: 10px;
    padding: 15px 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgb(177 177 177);
    position: relative;
    top: -51px;
    left: 488px;
    border-top: 45px solid rgb(84, 110, 145);
    border-left: 6px solid rgb(84, 110, 145);
    border-right: 6px solid rgb(84, 110, 145);
    border-bottom: 6px solid rgb(84, 110, 145);
    box-sizing: border-box;
}

.direc-box-1 {
    border-top: 45px solid rgb(236, 86, 66);
    border-left: 6px solid rgb(236, 86, 66);
    border-right: 6px solid rgb(236, 86, 66);
    border-bottom: 6px solid rgb(236, 86, 66);
    box-sizing: border-box;
    width: 430px;
    height: 170px;
    border-radius: 5px;
    background-color: rgb(240, 199, 188);
    position: relative;
    top: -333px;
    left: 28px;
}

.direc-box-2 {
    width: 431px;
    height: 395px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgb(177 177 177);
    position: relative;
    top: -354px;
    left: 28px;
    overflow-y: auto;
    box-sizing: border-box;
    border-top: 45px solid rgb(243, 188, 7);
    border-left: 6px solid rgb(243, 188, 7);
    border-right: 6px solid rgb(243, 188, 7);
    border-bottom: 6px solid rgb(243, 188, 7);
}

.direc-box-2>h2 {
    margin: 0;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.directions-box {
    width: 95%;
    height: 95%;
    padding: 5px 10px;
}

.directions-box>div {
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 5px 10px;
    box-shadow: 2px 2px 4px grey;
    line-height: 25px;
    text-indent: 15px;
    background-color: rgb(255, 252, 241);
}

.ing-box-groc-icon {
    width: 60px;
    height: 60px;
    position: relative;
    top: -100px;
    left: 175px;
    border-radius: 20%;
    background-image: url(../../assets/img/grocery.png);
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-color: white;
    border: 5px solid rgb(84, 110, 145);
}


.recipe-ing-box {
    position: relative;
    top: -80px;
    display: flex;
    flex-direction: column;
    height: 220px;
    padding: 10px 20px;
    overflow-y: auto;
}

.ing-box-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;
    top: -35px;
    font-size: 23px;
    font-weight: bolder;
    color: white;
    margin-left: 8px;
}

.rec-ing-single-info-container {
    display: flex;
}

.rec-ing-single-info-container>div:nth-child(2) {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(78, 78, 78);
}


.quick-info-box {
    display: flex;
    flex-direction: column;
}

.quick-info-box>div:nth-child(3) {
    display: flex;
    font-size: 20px;
    margin: 15px 20px;
    gap: 10px;
}

.quick-info-box>div:nth-child(3)>.cook-time-icon {
    color: rgb(173, 173, 173);
    margin: 0 10px 0 15px;
}

.quick-info-box>div:nth-child(3)>p:nth-child(2) {
    color: white;
    font-weight: bolder;
}

.quick-info-box>div:nth-child(3)>p:nth-child(4) {

}

.direc-box-3 {
    width: 271px;
    height: 287px;
    overflow-y: auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgb(177 177 177);
    position: relative;
    top: -640px;
    left: 490px;
    padding: 10px 10px;
    box-sizing: border-box;
    border-top: 45px solid rgb(165, 197, 138);
    border-left: 6px solid rgb(165, 197, 138);
    border-right: 6px solid rgb(165, 197, 138);
    border-bottom: 6px solid rgb(165, 197, 138);
}

.comment-indv-box {
    border-radius: 10px;
    padding: 2px 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgb(177 177 177);
    margin-bottom: 10px;
}


.recipe-title {
    position: relative;
    top: -42px;
    font-size: 22px;
    margin: 0;
    padding: 10px 0px 5px 11px;
    z-index: 0;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}


.box-one-dish-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -98px;
    left: 6px;
    border-radius: 20%;
    background-image: url(../../assets/img/meat.png);
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-color: white;
    border: 5px solid rgb(236, 86, 66);
}

.comment-box-title {
    position: absolute;
    top: 556px;
    left: 676px;
    z-index: 1;
    font-size: 22px;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    z-index: 1;
    font-size: 22px;
    margin: 0;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.comment-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 510px;
    left: 840px;
    border-radius: 20%;
    background-image: url(../../assets/img/chat.png);
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-color: white;
    border: 5px solid rgb(165, 197, 138);
    z-index: 1;
}

div.bot-container>div>p.bubble {
    position: absolute;
    top: -60px;
    left: 126px;
}

/* 
.cuisine-flag-marker {
    width: 51px;
    height: 46px;
    position: absolute;
    top: -66px;
    left: 172px;
    border-radius: 20%;
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-color: white;
    border: 5px solid rgb(83, 83, 82);
    z-index: 1;
} */

.cuisine-flag-rd {
    width:30px;
    height: 30px;
    padding: 1px 1px;
    border-radius: 100%;
    border: 5px solid rgb(218, 108, 77);
    position: relative;
    top: -2px;
    left: -30px;
    z-index: 1;
    background-color: white;
}

.click-pan-icon:hover {
    border: 5px solid rgb(253, 199, 185)
}
.click-pan-icon:hover ~ p.cookcount-text {
    background-color: rgb(238, 177, 177);
}

.heart-icon:hover {
    border: 5px solid rgb(253, 199, 185)
}
.heart-icon:hover ~ .heart-avg-text {
    background-color: rgb(238, 177, 177);
}


.serving-text {
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 10px 4px 15px;
    background-color: rgb(219, 137, 115);
    position: absolute;
    top: 45px;
    left: 338px;
    z-index: 0;
}

.dish-icon-rd {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 54px;
    left: 306px;
    padding: 2px 2px;
    border: 5px solid rgb(218, 108, 77);
    border-radius: 100%;
    background-color: white;
    z-index: 1;
}

.cooking-time-text {
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 10px 4px 15px;
    background-color: rgb(219, 137, 115);
    position: relative;
    top: -10px;
    left: -32px;
    z-index: 0;
}

.cuisine-text  {
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 10px 4px 15px;
    background-color: rgb(219, 137, 115);
    position: relative;
    top: -10px;
    left: -52px;
    z-index: 0;
}

.clock-icon-rd {
    width: 28px;
    height: 28px;
    position: relative;
    top: -3px;
    left: -9px;
    padding: 2px 2px;
    border: 5px solid rgb(218, 108, 77);
    border-radius: 100%;
    background-color: white;
    z-index: 1;
}

.login-wrapper::before {
    content: '';
    height: 690px;
    width: 790px;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 100px;
    background-color: #0064a9;
    opacity: 0.8;
    background: repeating-linear-gradient(45deg, #e1b6f3, #e1b6f3 5px, #0064a9 5px, #0064a9 25px);
    border: 9px solid black;
}

.detail-wrapper::before {
    content: '';
    height: 840px;
    width: 790px;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 100px;
    background-color: #0064a9;
    opacity: 0.8;
    background: repeating-linear-gradient(45deg, #e1b6f3, #e1b6f3 5px, #0064a9 5px, #0064a9 25px);
    border: 9px solid black;
}

.detail-wrapper {
    margin-top: 30px;
    display: flex;
}

.cook-bot-container{
    position: absolute;
    top: 53px;
    left: 968px;
}

.edit-icon {
    font-size: 30px;
    position: absolute;
    top: 16px;
    left: 848px;
    padding: 10px 10px;
    background-color: #0064a9;
    border-radius: 5px;
    color: white;
    animation: shake2 5s 0.5s linear infinite;
    cursor: pointer;
}

.comment-delete-button.recipe {
    animation: shake2 5s linear infinite;
}

#root > div > div.cook-bot-container > div > p {
    top: -64px;
    left: 27px;
    height: 110px;
    background-color: #e2e2e2;
}

#root > div > div.cook-bot-container > div > div.create-recipe-speech-bubble {
    top: 17px;
    left: 49px;
}

.instructions-title {
    position: relative;
    top: -310px;
    left: 40px;
    font-size: 22px;
    margin: 0;
    padding: 10px 0px 5px 11px;
    z-index: 0;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    z-index: 2;
}

.box-two-direct-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 395px;
    left: 537px;
    border-radius: 20%;
    background-image: url(../../assets/img/cooking.png);
    background-position: 7px 4px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-color: white;
    border: 5px solid rgb(243, 188, 7);
    z-index: 1;
}

.click-pan-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 292px;
    left: 213px;
    border-radius: 100%;
    padding: 2px 2px;
    background-color: white;
    border: 5px solid rgb(218, 108, 77);
    cursor: pointer;
}

.cookcount-text {
    position: absolute;
    top: 282px;
    left: 250px;
    border-radius: 5px;
    padding: 4px 4px 4px 10px;
    background-color: rgb(219, 137, 115);
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.helper-text {
    position: absolute;
    top: 310px;
    left: 260px;
    font-size: 12px;
    font-weight: 900;
    background-color: white;
    padding: 1px 2px;
    border-radius: 5px;
}

.heart-box {
    position: absolute;
    top: 292px;
    left: 465px;
    cursor: pointer;
}

.heart-icon {
    width: 23px;
    padding: 6px 6px;
    border-radius: 100%;
    border: 5px solid rgb(218, 108, 77);
    background-color: white;
    z-index: 3;
    position: relative;
}

.heart-avg-text {
    background-color: rgb(219, 137, 115);
    display: inline-block;
    color: white;
    font-weight: 900;
    padding: 4px 10px 4px 28px;
    border-radius: 5px;
    font-size: 17px;
    position: relative;
    left: -20px;
    top: -13px;
    z-index: 1;
}

.heart-container {
    width: 20px;
    height: 20px;
    background-image: url(../../assets/img/noheart.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}


.heartOn {
    background-image: url(../../assets/img/heart.png);
}

.heart-selector-box > .heart-container:hover,
.heart-selector-box > .heart-container:hover ~ .heart-container {
    background-image: url(../../assets/img/heart.png);
}

.heart-selector-box {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(219, 137, 115);
    border-radius: 5px;
    padding: 6px 4px 6px 28px;
    gap: 5px;
    width: auto;
    box-sizing: border-box;
    position: relative;
    top: -62px;
    left: 22px;
    z-index: 1;
}

#root > div.helper-box-wrappers > div > div > div.tv-content-wrapper > div {
    top: -40px;
    left: 100px;
}