.recipe-box {
    height: 750px;
    width: 790px;
    background: linear-gradient(90deg, white, rgb(247, 247, 247));
    margin-left: 160px;
    border-radius: 5px;
    border: 9px solid black;
}

#root>div.detail-wrapper>div.recipe-box {
    height: 840px;
}

.detail-wrapper {
    position: relative;
    top: 25px;
    left: 0px;
}

#root>div.home-wrapper>div.recipe-box {
    height: 750px;
    width: 790px;
    
}

#root>div.update-form-wrapper>div.recipe-form-wrapper::before {
    background-color: #0064A9;
    opacity: 0.8;
    background: repeating-linear-gradient(-45deg, #e1b6f3, #e1b6f3 5px, #0064A9 5px, #0064A9 25px);
}

#root>div.update-form-wrapper>div.recipe-form-wrapper::before {
    background-color: #666768;
opacity: 0.8;
background-image:  linear-gradient(135deg, #f78e51 25%, transparent 25%), linear-gradient(225deg, #f78e51 25%, transparent 25%), linear-gradient(45deg, #f78e51 25%, transparent 25%), linear-gradient(315deg, #f78e51 25%, #666768 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 20px 20px;
background-repeat: repeat;
}

#root > div.detail-wrapper::before {
    top: 45px;
    background-color: #f1e973;
opacity: 0.8;
background-image:  linear-gradient(135deg, #F47B7B 25%, transparent 25%), linear-gradient(225deg, #F47B7B 25%, transparent 25%), linear-gradient(45deg, #F47B7B 25%, transparent 25%), linear-gradient(315deg, #F47B7B 25%, #f1e973 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 20px 20px;
background-repeat: repeat;
}

.home-wrapper::before {
    content: '';
    height: 750px;
    width: 790px;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 55px;
    left: 108px;
    background-color: #0064a9;
    opacity: 0.8;
    background: repeating-linear-gradient(45deg, #e1b6f3, #e1b6f3 5px, #0064a9 5px, #0064a9 25px);
    border: 9px solid black;
}

.home-wrapper {
    height: 100vh;
    width: 3000px;
    display: flex;
    padding-top: 100px;

}

.big-img-box {
    height: 250px;
    width: 790px;
    border-radius: 5px 5px 0 0;
    border-bottom: 8px solid rgb(121, 121, 121);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


.ing-dnd-box-tab {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 4px;
    border-radius: 5px;
    border: 3px solid black;
    transform: rotate(270deg);
    position: absolute;
    left: calc(90%);
}

.slideanimation {
    animation: move 0.2s linear normal forwards;
}

@keyframes move {
    100% {
        transform: translate(-300px);
        z-index: 1;
    }
}


.ingredient-icon-box {
    margin: 0 5px 5px 0;
    padding: 2px 3px;
    background-color: white;
    border-radius: 15px;
    border: solid black 2px;
    opacity: 1;
}

.ing-dnd-icons-box {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    width: 300px;
    height: 200px;
    z-index: -2;
}

.showingtab {
    opacity: 1;
    z-index: 1;
}

.smallv-recipe-inglist {
    display: flex;
    justify-content: flex-start;
    width: 170px;
    overflow-x: auto;
   background-color: rgb(238, 219, 206);
    border-radius: 5px;
    padding: 7px 3px;
    box-sizing: border-box;
    gap: 4px;
    min-height: 37px;
}

.smallv-recipe-ing-icon {
    width: 20px;
}

.smallv-recipe-name {
    margin: 0;
    font-size: 20px;
    background-color:rgb(221, 175, 141);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    color:white;
    max-width: 121px;
    height: 27px;
    white-space: nowrap; 
}

.smallv-cuisine-flag {
    width:25px;
    position: relative;
    top: -2px;
    left: 142px;
}
.smallv-cuisine-clock {
    width: 20px;
}

.smallv-ctime-text {
    margin: 0;
}

.smallv-clock-box {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -97px;
    left: 78%;
    margin: 0;
    font-size: 15px;
    background-color:rgb(221, 175, 141);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    color:white;
}


/* bg img set */

.bg-mexican{
    background-image: url(../../assets/img/bgimgs/mexican.png);

}

.bg-american{
    background-image: url(../../assets/img/bgimgs/american.png);
}

.bg-italian{
    background-image: url(../../assets/img/bgimgs/italian.png);
}

.bg-thai{
    background-image: url(../../assets/img/bgimgs/thai.png);
}

.bg-french{
    background-image: url(../../assets/img/bgimgs/french.png);
}

.bg-japanese{
    background-image: url(../../assets/img/bgimgs/japanese.png);
}

.bg-lebanese{
    background-image: url(../../assets/img/bgimgs/lebanese.png);
}

.bg-spanish{
    background-image: url(../../assets/img/bgimgs/spanish.png);
}

.bg-german{
    background-image: url(../../assets/img/bgimgs/german.png);
}

.bg-korean{
    background-image: url(../../assets/img/bgimgs/korean.png);
}

.bg-australian{
    background-image: url(../../assets/img/bgimgs/australian.png);
}

.bg-southafrican{
    background-image: url(../../assets/img/bgimgs/southafrican.png);
}

.bg-caribbean{
    background-image: url(../../assets/img/bgimgs/caribbean.png);
}

.bg-greek{
    background-image: url(../../assets/img/bgimgs/greek.png);
}

.bg-filipino{
    background-image: url(../../assets/img/bgimgs/filipino.png);
}

.bg-scottish{
    background-image: url(../../assets/img/bgimgs/scottish.png);
}

.bg-indian{
    background-image: url(../../assets/img/bgimgs/indian.png);
}

.bg-indonesian{
    background-image: url(../../assets/img/bgimgs/indonesian.png);
}

.bg-brazilian{
    background-image: url(../../assets/img/bgimgs/brazilian.png);
}

.bg-chinese{
    background-image: url(../../assets/img/bgimgs/chinese.png);
}

