.recipe-box {
    height: 840px;
    width: 790px;
    background: linear-gradient(90deg, white, rgb(247, 247, 247) );
    margin-left: 150px;
    border-radius: 5px;
    border: 9px solid black;
}

.home-wrapper::before {
    content: '';
    height: 840px;
    width: 790px;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 100px;
    background-color: #0064a9;
opacity: 0.8;
background: repeating-linear-gradient( 45deg, #e1b6f3, #e1b6f3 5px, #0064a9 5px, #0064a9 25px );
border: 9px solid black;
}

.home-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.big-img-box {
    height: 250px;
    width: 790px;
    background-image: url(../../assets/img/bg-recipebox.jpg);
    background-position:center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
    border-bottom: 8px solid rgb(121, 121, 121);
}

.ingredient-dnd-box {
    width: 280px;
    height: 400px;
    background-color: rgb(251, 255, 226);
    position: absolute;
    left: calc(100%);
    display: flex;
    align-items: flex-start;
    padding: 10px 15px;
    border-radius: 10px;
    border: 5px solid black;
    
}

.ing-dnd-box-tab {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 4px;
    border-radius: 5px;
    border: 3px solid black;
    transform: rotate(270deg);
    position: absolute;
    left: -75px;
    top: 16px;
}

.slideanimation {
    animation: move 0.2s linear normal forwards;
}

@keyframes move {
    100% {
      transform: translate(-300px);
      z-index: 1;
    }
  }


.ingredient-icon-box {
    margin: 0 5px 5px 0;
    padding: 2px 3px;
    background-color: white;
    border-radius: 15px;
    border: solid black 2px;
    height: 20px;
}

.ing-dnd-icons-box {
    display: flex;
    flex-wrap: wrap;
}
