.testroom {
    width: 130px;
    height: 500px;
    background-color: rgb(253, 255, 127);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 5px;
}


.dnd-ing-icons {
    width: 50px;
}