.testroom {
    width: 130px;
    height: 500px;
    background-color: rgb(253, 255, 127);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 5px;
}


.dnd-ing-icons {
    width: 50px;
}

.bubble-thought-search > .dnd-ing-icons {
    animation: shake 3s linear infinite;
}

.individual-ing-dnd-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 5px solid rgb(36, 147, 161);
    background-color: rgb(231, 245, 247);
    width: 70px;
    height: 70px;
}

.dnd-active-box {
    width: 100px;
    background-color: blueviolet;
    min-height: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#root > div.menubar-wrapper.show-menu > div.menubar-contentbox > div:nth-child(2) > div:nth-child(2) > div > div {
    top: -153px;
    height: 400px;
    left: 10px;
}


#root>div.menubar-wrapper.show-menu>div.menubar-contentbox>div>div:nth-child(2)>div {
    position: absolute;
    top: 567px;
    left: -556px;
    width: 202px;
    height: 164px;
    background-color: red;
    overflow-y: hidden;
    opacity: 0;
}

#root>div.menubar-wrapper.show-menu>div.menubar-contentbox>div>div:nth-child(2)>div>div {
    padding-top: 100px;
    width: 200px;
    position: absolute;
    top:150px;
}


#root>div.menubar-wrapper.show-menu>div.menubar-contentbox>div>div:nth-child(1)>div>div {
    background-color: white;
    border: 7px solid rgb(54, 54, 54);
    padding: 10px 0;
    border-radius: 5px;
    overflow-y: auto;
    position: absolute;
    left: 50px;
    top: 50px;
    gap: 5px;
}

.bubble-thought-search {
    width: 486px;
    height: 280px;
    position: absolute;
    top: -41px;
    left: -604px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-fail-message {
    position: absolute;
    left: -564px;
    top: 276px;
    height: 169px;
    width: 241px;
    border-radius: 5px;
    background-color: blueviolet;
    font-size: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-bulb-icon {
    animation: shake 3s linear infinite;
}