.comment-error {
    position: absolute;
    top:40px;
    list-style: none;
    margin: 0;
    left: -30px;
    width: 190px;
    color: crimson;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    animation: errorblinking linear infinite 7s;
}

.comment-error > li {
    padding: 6px 10px;
    background-color: white;
}



@keyframes errorblinking {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.comment-delete-button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 20px;
    background: crimson;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px rgb(155, 14, 42);
    margin:0;
    height:22px;
}

.comment-update-button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    width: 20px;
    background: rgb(20, 113, 220);
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px rgb(10, 69, 109);
    margin:0;
    height:22px;
}

.editdel-button-box {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 15px;
}

.comment-update-form {
    position: absolute;
    top: -144px;
    left: -152px;
    
}

.comment-input {
    width: 228px;
    height: 94px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px black;
}

.update-form-wrapper {
    position: relative;
    margin-top: 100px;
}

.update-button {
    position: relative;
    top: -25px;
    left: 167px;
}

.comment-owner-info {
    display: flex;
    padding: 3px 2px;
    align-items: center;
    justify-content: space-between
}

.comment-owner-info > p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 3px 0 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.comment-owner-info > p:first-child {
    color: black;
}
.comment-owner-info > p:nth-child(2) {
    color: rgb(170, 170, 170);
}

.comment-indv-box  > p:first-child {
    margin:0;
    padding: 10px 10px;
    background-color: rgb(230, 243, 220);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap:break-word;
}

.comment-submit-button {
    position: relative;
    top: -25px;
    left: 170px;
    background-color: rgb(33, 105, 33);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 7px;
}