.recipe-box.main-login {
    position: relative;
    top: 100px;
    width: 790px;
    height: 750px;
}

.login-wrapper.loginpage::before {
    height: 750px;
    width: 790px;
    top:55px;
    left:108px;
}

.log-in-form {
    width: 600px;
    background-color: rgb(236, 240, 239);
    height: 450px;
    padding: 80px 145px;
    box-sizing: border-box;
    border-top: 55px solid rgb(210, 184, 224);
    border-left: 8px solid rgb(210, 184, 224);
    border-right: 8px solid rgb(210, 184, 224);
    border-bottom: 8px solid rgb(210, 184, 224);
    border-radius: 5px;
    z-index: 1;
}

.recipe-box.main-login > div:nth-child(3)  {
    display: flex;
    justify-content: center;
    padding-top: 50px; 
}



.log-in-input-box {
    width: 350px;
    background-color: rgb(236, 240, 239);
    height: 50px;
    padding: 20px 25px;
    box-sizing: border-box;
    border-top: 30px solid rgb(131, 104, 146);
    border-left: 8px solid rgb(131, 104, 146);
    border-right: 8px solid rgb(131, 104, 146);
    border-bottom: 8px solid rgb(131, 104, 146);
    border-radius: 5px;
    margin-bottom: 25px;
}

.log-in-input-box > label {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: white;
    top: -46px;
    left: -15px;
}

.log-in-input-box > input {
    width: 334px;
    height: 42px;
    position: relative;
    top: -44px;
    left: -25px;
    font-size: 20px;
    padding-left: 5px;
    box-sizing: border-box;
}

.log-in-error-box {
    background-color: white;
    width: 266px;
    height: 120px;
    position: absolute;
    top: 3px;
    left: 871px;
    z-index: 4;
}

.log-in-error-box > div {
    font-size: 25px;
    font-weight: bold;
    color: crimson;
    animation: errorblinking linear infinite 7s;
}

.log-in-button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 5px solid rgb(140, 105, 158);
    background-color: rgb(210, 184, 224);
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: relative;
    left: 113px;
 
}

.log-in-title {
    position: absolute;
    top: 157px;
    left: 120px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.log-in-icon {
    width: 70px;
    border: 5px solid rgb(210, 184, 224);
    border-radius: 5px;
    padding: 2px 5px;
    background-color: rgb(242, 238, 245);
    position: absolute;
    top: 249px;
    left: 753px;
    z-index: 2;
    font-size: 20px;
    font-weight: 900;
}

.sign-up-icon {
    width: 90px;
    border: 5px solid rgb(48, 105, 180);
    border-radius: 5px;
    padding: 2px 5px;
    background-color: rgb(236, 240, 239);
    position: absolute;
    top: 250px;
    left: 647px;
    font-size: 20px;
    font-weight: 900;
    z-index: 2;
}

.home-wrapper .loginpage {
    width:780px;
}

.cookbot-container-login {
    position: absolute;
    top: 159px;
    left: 999px;
    z-index: 0;
}

.login-wrapper::before {
    content: '';
    height: 690px;
    width: 790px;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 100px;
    background-color: #0064a9;
opacity: 0.8;
background: repeating-linear-gradient( 45deg, #e1b6f3, #e1b6f3 5px, #0064a9 5px, #0064a9 25px );
border: 9px solid black;
}

.login-wrapper {
    display: flex;
}

.main-login {
    height: 700px;
}

#root > div > div.cookbot-container-login > div > p {
    position: absolute;
    top: -60px;
    left: 0px;
    height: 100px;
}

.angry-bot-face {
    position: absolute;
    top: 318px;
    left: 965px;
    width: 240px;
    height: 170px;
    background-color: rgb(18, 43, 54);
    border-radius: 10px;
    margin-top: -13px;
    margin-left: 12px;
    box-shadow: -5px -5px 20px rgb(255, 84, 62),10px -10px 40px rgb(255, 84, 62), -5px 10px 20px rgb(253, 87, 65), 10px 10px 70px rgb(255, 91, 79);
    z-index: 0;
}

.showbotface {
    z-index: 5;
}

.angry-bot-eye{
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    width: 60px;
    height: 60px;
    background-color: rgb(220, 20, 60);
    box-shadow: 5px 5px 10px red;
    position:relative;
}

.angry-bot-eye.l{
    left: 40px;
    top: 35px;
    animation: blink linear infinite 3s;
}

.angry-bot-eye.r{
    left: 140px;
    top: -26px;
    animation: blink linear infinite 3s 0.5s;
}

.angry-bot-mouth {
    position: relative;
    left: 90px;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    background-color: crimson;
    animation: blink linear infinite 3s 0.2s;
}

@keyframes blink {
    0%, 10%,12.1%,23%,28.1%,40%, 52.1%, 70%,74.1%, 88%,99.1%,100%{
        opacity: 1;
    }
    10.1%, 12%,23.1%,28%,40.1%, 52%, 70.1%, 74%,88.1%, 99%{
        opacity: 0;
    }
}

.bubble-speech-login {
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.recipe-box.main-login > p {
    color:white;
}

.sign-up-form { 
    width: 600px;
    background-color: rgb(236, 240, 239);
    height: 450px;
    padding: 80px 145px;
    box-sizing: border-box;
    border-top: 55px solid rgb(48, 105, 180);
    border-left: 8px solid rgb(48, 105, 180);
    border-right: 8px solid rgb(48, 105, 180);
    border-bottom: 8px solid rgb(48, 105, 180);
    border-radius: 5px;
    z-index: 1;
    position: relative;
}

.sign-up-title {
    font-size: 30px;
    position: absolute;
    top: -67px;
    left: 16px;
    color: white;
    font-weight: bold;
}

.unselected {
    background: rgb(212, 212, 212);
    z-index: 0;
    border: 5px solid rgb(179, 179, 179);
    top: 255px;
    color: grey;
}
#root > div.login-wrapper.loginpage > div.cookbot-container-login > div > p {
    top: -115px;
    height: 110px;
    left: 4px;
}

#root > div.login-wrapper.loginpage > div.cookbot-container-login > div {
    margin-top: 182px;
    margin-left: 127px;
}

.sign-up-form > .log-in-input-box {
    width: 230px;
    border-top: 30px solid rgb(24, 64, 116);
    border-left: 8px solid rgb(24, 64, 116);
    border-right: 8px solid rgb(24, 64, 116);
    border-bottom: 8px solid rgb(24, 64, 116);
    border-radius: 5px;
    margin-bottom: 25px;
}

.sign-up-form > .log-in-input-box > label {
    font-size: 18px;
}
.sign-up-form > .log-in-input-box > input {
    top: -41px;
    width: 215px;
}

.sign-up-form > .log-in-input-box:nth-child(3) {
    position: relative;
    top: -2px;
    left: -100px;
}

.sign-up-form > .log-in-input-box:nth-child(4) {
    position: relative;
    top: -105px;
    left: 167px;
}

.sign-up-form > .log-in-input-box:nth-child(5) {
    position: relative;
    top: -78px;
    left: -100px;
}

.sign-up-form > .log-in-input-box:nth-child(6) {
    position: relative;
    top: -182px;
    left: 167px;
}

.signup-error-box {
    position: absolute;
    top: 3px;
    left: 864px;
    width: 290px;
    height: 110px;
    font-size: 20px;
    color: crimson;
}

.sign-up-button {
    position:relative;
    top: -183px;
    left: 202px;
    padding: 15px 20px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 5px solid rgb(33, 69, 116);
    background-color: rgb(48, 105, 180);
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    transform:translate(0px, -2px) ;
}