.instruction-image-box {
    width: 400px;
    height: 350px;
    border-radius: 5px;
    background-position: center;
    background-size: 400px 350px;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(233, 80, 33);
    border-top: 45px solid rgb(233, 80, 33);
    z-index: 4;
}

.inst1 {
    background-image: url(../../assets/img/instructions/inst1.PNG);
}


.inst2 {
    background-image: url(../../assets/img/instructions/inst2.PNG);
}


.inst3 {
    background-image: url(../../assets/img/instructions/inst3.PNG);
}


.inst4 {
    background-image: url(../../assets/img/instructions/inst4.PNG);
}

.helper-hand-box {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-image: url(../../assets/img/cursor.png);
    background-position: center;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-color: white;
    border: 5px solid #000000;
    z-index: 2;
    animation: blinking 1s infinite linear;

}

@keyframes blinking {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.instruction-image-box.inst2 {
    opacity: 0;
    animation: fadeIn 1s linear forwards;
}

.instruction-image-box.inst4 {
    opacity: 0;
    animation: fadeIn 1s linear forwards;
}

.instruction-image-box.inst3 {
    opacity: 0;
    animation: fadeIn 1s linear forwards;
}

.helper-hand-box.inst1 {
    position: relative;
    left: 350px;
}

.helper-hand-box.inst2 {
    position: relative;
    left: 350px;
    top: 117px;
}

.helper-hand-box.inst3 {
    position: relative;
    left: 107px;
    top: 257px;
}

.helper-hand-box.inst4 {
    position: relative;
    left: 87px;
    top: 47px;
}

.slider-button {
    background-color: white;
    border: 5px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
    border-radius: 5px;
    position: absolute;
    z-index: 3;
}

.slider-button:first-child {
    top: 180px;
    left: 12px;
}

.slider-button:nth-child(2) {
    top: 180px;
    left: 504px;
}

.helper-box {
    padding: 10px;
    margin-left: 50px;
    z-index: 3;
    display: inline-block;
}

.helper-box-wrapper {
    z-index: 5;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inst-step-text {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(233, 80, 33);
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    color: white;
    position: relative;
    top: -134px;
}

.close-button {
    padding: 2px 5px;
    background-color: red;
    display: inline-block;
    border: 4px solid white;
    color: white;
    position: absolute;
    top: 279px;
    left: 1056px;
    z-index: 3;
}

.esc-text {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 145px;
    padding: 5px 15px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    border: 5px solid rgb(90, 90, 90);
    animation: blinking 5s linear infinite;visibility: hidden;
}

.instruction-image-box {
    left: -36px;
    position: relative;

}

.helper-modal-button {
    cursor: pointer;
    position: absolute;
    top: 183px;
    left: 178px;
    padding: 4px 10px;
    border-radius: 5px;
    border: 5px solid #0a5e15;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: #158a24;
    animation: colorBlink 2s linear infinite;
}

.helper-modal-button:hover {
    border: 5px solid #13b429;
    color:rgb(65, 65, 65);
    background-color: #cff3d3;
}

@keyframes colorBlink {
    0%, 100% {
        color: rgb(235, 235, 235);
    }
    50%  {
        color: rgb(163, 163, 163);
    }
}

.instruction-video {
    width: 482px;
    height: 281px;
    margin: 0;
    position: relative;
    top: -67px;
    left: 13px;
    background-color: grey;
    border-radius: 15px;
}

.video-title {
    background-color: white;
    font-size: 25px;
    background-color: rgb(255, 170, 131);
    border: 7px solid rgb(247, 105, 39);
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 30px;
    color: white;
    font-weight: bolder;
    z-index: 1;
}

.tv-ql-wrapper {
    position: relative;
    left: -1358px;
    top: -259px;
}

#root > div.helper-box-wrappers > div > div > div.tv-content-wrapper > div.introduction-box {
    position: relative;
    left: -1000px;
}

.helper-box-wrappers {
    position: absolute;
    left: 1040px;
    z-index: 3;
    display: inline-block;
}

#root > div.helper-box-wrappers > div > div > div.tv-content-wrapper{
    position: relative;
    left: -1000px;
}

#root > div.helper-box-wrappers > div > div > div.tv-content-wrapper > div {
    top: 10px;   
}

.helper-box > .tv-content-wrapper > .introduction-box > .introduction-box-title{
    top: -25px;
    left: -20px;
}

.helper-box > .tv-content-wrapper > .introduction-box > .introduction-box-title-back {
    position: absolute;
    left: 10px;
    top: 10px;
}

.helper-box > .tv-content-wrapper > .introduction-box > .introduction-box-content {
    top: 90px;
    left: -10px;
}

#root > div:nth-child(2) > div > div > div > div.tv-ql-wrapper {
    /* top: -350px; */
}