.bot-wrapper {
    width: 600px;
    height: 500px;
    margin-left: 150px;
    margin-top: 233px;
}

.bot-head {
    width: 400px;
    height: 60px;
    background-color: rgb(167, 167, 167);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border-radius: 10px;
}

.bot-side {
    width: 100px;
    height: 400px;
    background-color: rgb(133, 132, 132);
    position: relative;
    left: 301px;
    top: -60.5px;
    clip-path: polygon(0 15%, 100% 0%, 100% 89%, 0% 100%);
    border-radius: 10px;
}

.bot-face {
    width: 301px;
    height: 340px;
    background-color: rgb(168, 168, 168);
    position: relative;
    top: -400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.bot-face-screen {
    width: 80%;
    height: 50%;
    background-color: rgb(205, 238, 253);
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 10px 10px 40px rgb(223, 238, 252), 10px 10px 70px rgb(189, 222, 253);
    overflow: auto;
    z-index: -1;
}

.bot-eyes {
    width: 35px;
    height: 30px;
    background-color: black;
    clip-path: ellipse(25% 40% at 50% 50%);
    position: absolute;
    margin-top: 45px;
    left: calc(50% - 75px);
}

.R {
    position: absolute;
    margin-top: 45px;
    left: calc(50% + 30px);
}

.bot-mouth {
    width: 60px;
    height: 15px;
    background-color: black;
    position: absolute;
    margin-top: 105px;
    border-radius: 10px;
    left: calc(50% - 37px);
}

.left-arm {
    position: relative;
    left: calc(50% + 30px);
    top: -550px;
    width: 50px;
    height: 200px;
    background-color: rgb(48, 48, 48);
    clip-path: ellipse(28% 50% at 50% 50%);
    z-index: 0;
}

.right-arm {
    position: relative;
    left: calc(-20px);
    top: -745px;
    width: 50px;
    height: 200px;
    background-color: rgb(48, 48, 48);
    clip-path: ellipse(28% 50% at 50% 50%);
    z-index: 0;
}

.right-leg {
    position: relative;
    left: 227px;
    top: -1095px;
    width: 50px;
    height: 200px;
    background-color: rgb(48, 48, 48);
    clip-path: ellipse(28% 50% at 50% 50%);
    z-index: 0;
}

.left-leg {
    position: relative;
    left: 70px;
    top: -875px;
    width: 50px;
    height: 200px;
    background-color: rgb(48, 48, 48);
    clip-path: ellipse(28% 50% at 50% 50%);
    z-index: 0;
}

.left-foot {
    position: relative;
    top: -895px;
    left: 65px;
    width: 45px;
    height: 25px;
    border-radius: 25px;
    background-color: black;
    transform: rotate(-20deg);
}

.right-foot {
    position: relative;
    top: -1115px;
    left: 220px;
    width: 45px;
    height: 25px;
    border-radius: 25px;
    background-color: black;
    transform: rotate(-35deg);
}


.logo {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -1322px;
    left: 56px;
    font-size: 100px;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
    transform: skew(15deg, -15deg) skew(-15deg, -15deg) rotate(90deg);
}

.bot-stomach-lid {
    width: 220px;
    height: 70px;
    background-color: rgb(65, 64, 64);
    position: absolute;
    top: 244px;
    left: 28px;
    border-radius: 10px;
    transform: skew(0deg, 7deg) skew(0deg, 7deg) rotate(-13.5deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: rgb(216, 216, 216);
    z-index: 3;
}

.bot-stomach-lid-side {
    position: absolute;
    top: 238px;
    left: 202px;
    width: 50px;
    height: 70px;
    clip-path: polygon(100% 100%, 66% 15%, 100% 0);
    background-color: rgb(43, 43, 43);
}


p.bubble {
    position: absolute;
    width: 300px;
    top: 80px;
    left: 1050px;
    text-align: center;
    line-height: 1.4em;
    margin: 40px auto;
    background-color: #fff;
    border: 8px solid #333;
    border-radius: 30px;
    font-family: sans-serif;
    padding: 20px;
    font-size: large;
}

p.thought {
    width: 300px;
    border-radius: 200px;
    padding: 30px;
    z-index: 3;
}

p.bubble:before,
p.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}


p.thought:before,
p.thought:after {
    left: 305px;
    bottom: -20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 8px solid #333;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

p.thought:after {
    width: 20px;
    height: 20px;
    left: 330px;
    bottom: -40px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.disappear {
    opacity: 0;
}

.progress {
    position: absolute;
    height: 10px;
    width: 60%;
    border: 10px solid #cccccb;
    border-radius: 15px;
    top: 80px;
    left: 40px;
}

.progress .color {
    position: absolute;
    background-color: #181414;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 2s infinite linear;
}

@keyframes progres {
    0% {
        width: 0%;
    }

    25% {
        width: 60%;
    }

    50% {
        width: 85%;
    }

    75% {
        width: 100%;
    }

    100% {}
}

;

@keyframes disappear {
    0% {
        opacity: 1;
    }

    25% {
        width: 60%;
    }

    50% {
        width: 85%;
    }

    75% {
        width: 100%;
    }

    100% {}
}

.recipe-list {
    animation: appear 2s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.recipe-list > div {
    margin: 2px 0 2px 5px;
    padding: 2px 3px;
    box-sizing: border-box;
    width: 235px;
    height: 20px;
    font-size: 20px;
    overflow: hidden;
    font-weight: bolder;
}

#root > div > div.bot-wrapper > p {
    height:110px;
    top: 44px;
    left: 1003px;
    background-color: #e2e2e2;
}

.create-recipe-speech-bubble > p {
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-shadow: -2px 2px rgb(148, 148, 148), 2px 2px rgb(148, 148, 148), -2px -2px rgb(148, 148, 148), 2px -2px rgb(148, 148, 148);
    margin-top: -20px;
    position: relative;
    top: -55px;
    left: 115px;
    
}

.create-recipe-speech-bubble > img {
    width: 80px;
    padding: 5px 8px;
    border-radius: 5px;
}

.create-recipe-speech-bubble {
    width: 300px;
    height: 130px;
    position: absolute;
    top: 125px;
    left: 1025px;
    z-index: 4;
}